$dark-text:#666;
$light-text:#AAA;
$lightest-text:#aeaeae;
$white:#fff;
$footer-bg:#121212;
$linkedInIcon: #005E91;
$emailIcon: #B29277;
//////////////////////////////////////// brand colors
$strungBrand: #eeabca;
$strung-background:#191919;
$vuiBrand: #1083f4;
$sessionMBrand: #5db3cd;
$parrishrelicsBrand:#b9c3aa;

$miscBrand:#333;
$vui-gradient:90deg, #0065F9 0%, #0288F6 27%, #00A5F4 49%, #00C2F1 65%, #00D8F0 80%, #00EAEE 100%;
$vui-gradientDark:140deg, #095396 0%, #0288F6 100%;
$sessionm-lightergreen: #ceef81;
$vui-overlay-color: #073159;
$relics-background: #e7e6e1;