.footer {
    position: absolute;
    display:flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    min-width: 100%;
    margin-top: 180px;
    padding: 0;
    height: 180px;
    background-color: $footer-bg;
}

.footer-logo {
    font-family: 'titlefont';
    font-size: 2em;
    color: $white;
    padding: 40px;
}

.footer-title{
    font-family: 'titleFontReg';
    color: #ffffff;
    font-size: 1.6em;
    letter-spacing: .2em;
    line-height: .4em;
    line-height: .4em;
}
.footer-icons{
    padding:10px;
    border-radius: 50%;

    &.linkedin{
        
        background-color: $linkedInIcon;
    }

    &.email{
        background-color: $emailIcon;
    }

    &:hover {
    -webkit-box-shadow: 6px 6px 22px 2px rgba(0,0,0,0.24);
    -moz-box-shadow: 6px 6px 22px 2px rgba(0,0,0,0.24);
    box-shadow: 6px 6px 22px 2px rgba(0,0,0,0.24);
    }

}

.footer-bits{
    display: flex;
    align-items: center;
    justify-content: center;

    & img {

        border-radius: 50%;
        width: 66px;
        margin:0 10px;

    }

    @media (max-width: 575.98px) {

    }
}
