@import 'basic';
@import 'colors';
@import 'footer';
@import 'navbar-style';
@import 'portfolio-blocks';
@import 'detail-pages';
@import 'about-me-page';


/*----------------------------------------------- */
@font-face {
    font-family: 'titleFont';
    src: url("../fonts/eames/EamesCenturyModern-Bold.otf") format("opentype");
}
@font-face {
    font-family: 'titleFontReg';
    src: url("../fonts/eames/EamesCenturyModern-Regular-Regular.otf") format("opentype");
}
// @font-face {
//     font-family: 'bodyfont';
//     src: url("../fonts/MuseoSans-300.otf") format("opentype");
// }
// @font-face {
//     font-family: 'bodyfontBold';
//     src: url("../fonts/MuseoSans-500.otf") format("opentype");
// }
@font-face {
    font-family: 'icon';
    src: url("../fonts/glyphicons-halflings-regular.ttf") format("truetype");
}
/* Sticky footer styles
-------------------------------------------------- */

a {
    font-size: 1.2em;
    line-height: 1em;
    text-decoration: none;
    text-transform: none;
}
a:hover {
        text-decoration: none;
        background-color: none !important;
    }
    
.link-color {
    color: #428cad;
    line-height: 2em;
    font-size: .9em;
}
.contact-icons {
    padding: 15px;
}


/* Main page stylings
---------------------------------------------------*/
.scroll-down-icon{
    position: absolute;
    top: 80vh;
    align-self: center;
    text-align: center;
    width:120px;
    //font-family: "Font Awesome 5 Free";
    fill: $white;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 80px;
    
    &.vui-brand-color{
        background-color: $vuiBrand;
    }
    &.sessionm-brand-color{
        background-color: $sessionm-lightergreen;
        color:#333;
    }
    &.strung-brand-color{
        background-color: $strungBrand;
    }
    &.relics-brand-color{
        background-color: $parrishrelicsBrand;
    }

}

.contact-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-top:200px; 
    max-width: 600px 
}

.page-title{
    font-family: 'bodyfontBold';
    font-size: 3em;
    padding:30px;
    color: $white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;


    &.vui-bg{
        background: linear-gradient($vui-gradient); 
    }
}

.boxshadow{
     -webkit-box-shadow: 6px 6px 22px 2px rgba(0,0,0,0.24);
    -moz-box-shadow: 6px 6px 22px 2px rgba(0,0,0,0.24);
    box-shadow: 6px 6px 22px 2px rgba(0,0,0,0.24);
}
.container{
    max-width: 100% !important;
    padding: 0;
}
.wrapper{
    margin-bottom: 20px;    
}
.homepage-blurb{
        display: flex;
        justify-content: center;

    p{
        padding:30px;
        max-width:600px;
    }

} 

.img-thumbnail {
    border: none;
}
.type-logo {
    font-family: 'titleFont';
    font-size: 3.6em;
    line-height: 1.1em;
    color: $dark-text;
    text-transform: none;

     @media (max-width: 575.98px) { 
        font-size: 2.4em;
    }
 
    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) and (max-width: 767.98px) { 
        font-size: 3em;
    }

    @media (max-width: 575.98px) { 
        font-size: 2.8em;
    }
}
.type-logo-small {
        font-family: $body-font-stack;
        text-transform: uppercase;
        font-size: 1.1em;
        letter-spacing: 1px;
        line-height: .6em;
        color: $white;
        background-color: $dark-text;
        padding:20px;
        position: absolute;
        //position: fixed;
        top: 82px;
        left: 40px;

    @media (max-width: 575.98px) { 
        font-size: .9em;
        padding:10px;
        left: 10px;
        top: 75px;
    }
 
    // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) and (max-width: 767.98px) { 
        font-size: 1.1em;
        padding:20px;
        left: 15px;
    }
}
.thumbnail {
    border: none;
    padding-top: 25px;
}

.caption{padding-bottom: 2em;}

//////// home page carousel ///////////
.sup, .sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}
.sub { 
  top: 0.4em; 
}
.carousel-inner {
    min-height: 400px;
    align-items: center;
    background-color: #aeaeae;

     p {
         padding:30px;
         max-width:600px;
     }

    .fa-quote-left{
        font-size: 3em;
        padding-right: .25em;
    }

    .fa-quote-right{
        font-size: 3em;
        padding-left: .25em;
        vertical-align: baseline;
        position: relative;
        top: 24px;
    }
}

